CompileFlags:
  Add:
    - -I/Users/karlosiric/Documents/MyProjects/REAP/src
    - -I/opt/homebrew/include
    - -I/opt/homebrew/Cellar/raylib/5.0/include

---
If:
  PathMatch: .*\.c
CompileFlags:
  Add:
    - -std=c17
  Remove:
    - -std=c++*

